.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.launches {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.launch-card {
  padding: 20px;
  width: 20%
}

.launch-card .img {
  width: 200px;
}

.controls {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.controls button {
  padding: 5px;
}

.search-controls {
  padding: 10px 20px;
  float: right;
}

.search-controls input,
.search-controls button{
  padding: 5px;
}

